.BuildControl {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 5px 0;
}

.BuildControl button {
   display: block;
   width: 80px;
   margin: 0 5px;
   padding: 5px;
   border: 1px solid #aa6817;
   outline: none;
   cursor: pointer;
   font: inherit;
}

.Label {
   width: 80px;
   padding: 10px;
   font-weight: bold;
}

.BuildControl .Less {
   background-color: #d39952;
   color: #fff;
}

.BuildControl .More {
   background-color: #8f5e1e;
   color: #fff;
}